
<section>
  <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>{{title}}</h1>
            </div>
          <div class="shadow"></div></div>
  <div class="sticky-paper-body has-shadow " >
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="timeline-holder wow bounceInUp" >
            <div class="timeline-head event-head">
              <div class="icon"> <i class="fa fa-university"></i> </div>
            </div>
            <div class="timeline-body">
              <div class="event-item timeline-item">
                <div class="event-title left">
                  <h1>post graduate </h1>
                </div>
                <div class="event-content timeline-content right">
                  <p class="pt15"> <strong>{{postDeg}}</strong>  </p>
                </div>
              </div>
              <div class="event-item timeline-item">
                <div class="event-title right">
                  <h1>graduate</h1>
                </div>
                <div class="event-content timeline-content left">
                  <p class="pt15"> <strong>{{deg}}</strong>  </p>
                </div>
              </div>
              <div class="event-item timeline-item">
                <div class="event-title left">
                  <h1>diploma</h1>
                </div>
                <div class="event-content timeline-content right">
                  <p  class="pt15"> <strong>{{webCer}}</strong> </p>
                </div>
              </div>
              <div class="event-item timeline-item">
                <div class="event-title right">
                  <h1>Hardware/networking diploma</h1>
                </div>
                <div class="event-content timeline-content left">
                  <p class="pt15"> <strong>{{webCer2}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
