
<section>
    <div class="sticky-paper-head has-shadow ">
              <div class="content">
                <h1 title="">{{title}}</h1>
              </div>
            <div class="shadow"></div></div>
    <div class="sticky-paper-body has-shadow " >
      <div class="content le-paragraph">
          <p *ngFor="let _aboutText of aboutHeader">
              <span [innerHTML]="_aboutText"></span>
          </p>
           
          <ul class="check-list marginL20">
            <li *ngFor="let _aboutHighLight of aboutHighLight">{{_aboutHighLight}}</li>
          </ul>
          <br/>
          <p>
              <strong>Expert :</strong>
              {{expert}}
          </p>
      </div>
    </div>
  </section>
  