
<section id="contact">
  <div class="sticky-paper-head has-shadow ">
             <div class="content">
               <h1>{{title}}</h1>
             </div>
           <div class="shadow"></div></div>
   <div class="sticky-paper-body has-shadow " >
     <div class="content">
       <div class="row row-contact">
         <div class="col-xs-12 col-md-12">
           <div class="contact-info">
             <ul>
               <li>
                 <label>address:</label>
                 {{address}} </li>
               <li>
                 <label>email:</label>
                 <a>{{emailId}}</a> </li>
               <li>
                 <label>phone:</label>
                 <a>{{contactNo}}</a> </li>
             </ul>
             <div class="social-icons">
               <ul>
                 <li> <a target="_blank" class="fa fa-facebook" title="Facebook" [href]="facebook"></a> </li>
                 <li> <a target="_blank" class="fa fa-twitter" title="Twitter"  [href]="twitter"></a> </li>
                 <li> <a target="_blank" class="fa fa-google-plus" title="Google Plus" [href]="googelPlus"></a> </li>
                 <li> <a target="_blank" class="fa fa-linkedin" title="Linkedin" [href]="linkedin"></a> </li>
                 <li> <a target="_blank" class="fa fa-stack-overflow" title="Stack Overflow" [href]="stackUrl"></a> </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 