
<section>
  <div class="sticky-paper-head has-shadow ">
             <div class="content">
               <h1>{{title}}</h1>
             </div>
           <div class="shadow"></div></div>
   <div class="sticky-paper-body has-shadow " >
     <div class="content">
       <div class="row row-contact">
         <div class="col-xs-12 col-md-12">
           
 <div class="blog-list-holder row">
       <div class="blog-item item col-xs-12 col-md-6 col-lg-4" *ngFor="let data of _blogList">
         <div class="thumb has-shadow">
           <div class="date"> {{data.date}} </div>
           <img [alt]="data.title" [title]="data.title" [src]="data.imgUrl" /> </div>
         <div class="info-area">
           <div class="title"> {{data.title}} </div>
           <div class="excerpt">
             <p> {{data.description}} </p>
           </div>
           <a class="le-btn" target="_blank" [href]="data.link">readmore</a> </div>
       </div>
 </div>
 
 
 
         </div>
       </div>
     </div>
   </div>
 </section>
 